---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <article>
    <p>
      The page you tried visit does not exist. You may have typed the address
      incorrectly or it may have been deleted. Check the address, and if it's
      still not working do <nuxt-link to="/contact"> get in touch </nuxt-link>.
    </p>

    <p>
      <img
        src="/images/spin.gif"
        alt="Gorilla spinning in the centre, top text: I live in spain, bottom text: without the a"
      />
    </p>
  </article>
</BaseLayout>
