---
import DefaultLayout from "../../layouts/DefaultLayout.astro";
---

<DefaultLayout title="Homepage">
  <div class="p-10 mb-5 rounded-3xl bg-gray-200">
    <p class="mb-5">
      this is my website, it is currently a work in progress. this is my
      website, it is currently a work in progress.
    </p>
    <p>
      this is my website, it is currently a work in progress. this is my
      website, it is currently a work in progress. this is my website, it is
      currently a work in progress. this is my website, it is currently a work
      in progress. this is my website, it is currently a work in progress.this
      is my website, it is currently a work in progress. this is my website, it
      is currently a work in progress. this is my website, it is currently a
      work in progress. this is my website, it is currently a work in progress.
      this is my website, it is currently a work in progress. this is my
      website, it is currently a work in progress. this is my website, it is
      currently a work in progress.this is my website, it is currently a work in
      progress. this is my website, it is currently a work in progress. this is
      my website, it is currently a work in progress. this is my website, it is
      currently a work in progress. this is my website, it is currently a work
      in progress. this is my website, it is currently a work in progress. this
      is my website, it is currently a work in progress.this is my website, it
      is currently a work in progress. this is my website, it is currently a
      work in progress. this is my website, it is currently a work in progress.
      this is my website, it is currently a work in progress. this is my
      website, it is currently a work in progress. this is my website, it is
      currently a work in progress. this is my website, it is currently a work
      in progress.
    </p>
  </div>
</DefaultLayout>
