---
import HeaderLink from "@/components/theme/HeaderLink.astro";
import { SITE_TITLE } from "@/consts";
---

<header class="bg-slate-300 px-2 py-5 rounded-b-2xl mb-10">
  <nav class="grid grid-rows-1 grid-cols-3">
    
    <h2 class="font-bold"><a href="/">{SITE_TITLE}</a></h2>

    <div class="text-center">
      <HeaderLink href="/about">About</HeaderLink>
      <HeaderLink href="/portfolio">Portfolio</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/contact">Contact</HeaderLink>
    </div>
    
    <p class="text-right">dark/light switch</p>
  
  </nav>
</header>
