---
import type { HTMLAttributes } from "astro/types";
type Props = HTMLAttributes<"div">;
const { class: className, ...props } = Astro.props;
---

<div
  class:list={[
    className,
    "bg-orange-100 dark:bg-orange-700 p-5 mt-10 rounded-xl drop-shadow-md",
  ]}
  {...props}
>
  <slot />
</div>
