---
import BaseHead from "@/components/theme/BaseHead.astro";
import Header from "@/components/theme/Header.astro";
import Footer from "@/components/theme/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@/consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="flex flex-col h-screen justify-between">
    <Header />
    <main class="mb-auto mx-20 w-auto max-w-[1140px] border-red-400 border-2">
      <slot />
    </main>
    <Footer />
  </body>
</html>
