---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";

const { title, description, pubDate, update, icon } = Astro.props;
---

<BaseLayout>
  <article id="content">
    <div class="hero-image">
      {
        icon && (
          <header class="relative drop-shadow-md select-none">
            <img
              src={icon}
              aria-hidden="true"
              class="w-full h-64 rounded-3xl mb-10 object-cover select-none"
            />
          </header>
        )
      }
    </div>
    <div class="prose">
      <div class="title mb-8">
        <h1 class="text-4xl text-center font-extrabold mb-2">{title}</h1>
        <div class="date text-center">
          {pubDate && <FormattedDate date={pubDate} />}

          {
            update && (
              <div class="last-updated-on">
                Updated on <FormattedDate date={update} />
              </div>
            )
          }
        </div>
      </div>
      <slot />
    </div>
  </article>
</BaseLayout>
