---
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro // {title}</title>
  </head>
  <body class="p-10">
    <div
      class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 p-10 mb-5 rounded-3xl"
    >
      <h1 class="text-white text-3xl font-serif">Hi, it's Josh!</h1>
    </div>

    <slot />
  </body>
</html>
