---
import { getCollection } from "astro:content";
import FormattedDate from "@/components/FormattedDate.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";

const projects = (await getCollection("portfolio")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<BaseLayout>
  <section>
    <ul>
      {
        projects.map((project) => (
          <li class="m-5 border-2 border-black-200 p-2 rounded-xl hover:bg-black-200">
            <a href={`/portfolio/${project.slug}/`}>
              <img
                aria-hidden="true"
                src={project.data.icon}
                class="rounded-xl"
              />
              <h4 class="title">{project.data.title}</h4>
              <p class="date">
                <FormattedDate date={project.data.pubDate} />
              </p>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>
