---
import BaseHead from "@/components/theme/BaseHead.astro";
import Header from "@/components/theme/Header.astro";
import Footer from "@/components/theme/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@/consts";
import { getCollection } from "astro:content";
import FormattedDate from "@/components/FormattedDate.astro";
import ContentLayout from "@/layouts/ContentLayout.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";

const projects = (await getCollection("portfolio")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<BaseLayout>
  <section>
    <ul>
      {
        projects.map((project) => (
          <li>
            <a href={`/portfolio/${project.slug}/`}>
              <img width={720} height={360} src={project.data.icon} alt="" />
              <h4 class="title">{project.data.title}</h4>
              <p class="date">
                <FormattedDate date={project.data.pubDate} />
              </p>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>
